@import url(variable.css);
body{
    margin: 0px;

    font-family: 'Mulish', sans-serif;
}
.nav{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(243, 242, 243);
}
.logo{
    color: var(--black-color);
    font-weight: var(--bolder-font);
    padding-left: 2%;
}
.list-items{
    float: left;
    position: relative;
    list-style: none;
    padding-right: 20px;
}
.list-items a{
    color: rgba(0,0,0,.6);
    text-decoration: none;
    font-weight: var(--bold-font);
}
.container{
    margin-top: 80px;
    background-color: rgb(241, 218, 222);
    padding: 2%;
    border-radius: 20px;
    display: flex;
    align-items: center;
    line-height: 30px;
}
.about-img{
    width: 50%;
    text-align: center;
}
.about-text{
    width: 50%;
}
.about-text h2{
    letter-spacing: 3px;
}
.about-img img{
    width: 70%;
}
.container h2{
    color: rgba(203, 111, 35,0.7);
    font-size: small;
    font-weight: 800;

}
.container .big-text{
    color: var(--black-color);
    font-weight: 1200;
    font-size: 45px;
    line-height: 45px;
}
.container .small-text{
    font-size: small;
    font-weight: 100;
    color: rgba(0, 0, 0, .4);

}
.btn{
    padding: 1.2% 8%;
    border-radius: 20px;
    border: 0px;
}
.btn-1{
    background-color: rgb(236, 131, 61);
    color: rgba(255, 255, 255, 0.661);
}
.btn-1:hover{
    color: rgb(236, 131, 61);
    background-color: rgba(255, 255, 255, 0.661);
}
.item-1{
    padding: 15px;

}

.fa-star{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(221, 205, 205);
    color: black;
    text-align: center;
    font-weight: inherit;
    font-size: 40px;
}
.fa-solid{
    line-height: 80px;
}
.skills-text h2{
    color: rgb(0 0 0);
    font-size: 20px;
}
.skills-text p{
    color: rgba(0, 0, 0, .5);
}
.card{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 20px;
    padding: 2%;
    display: flex;
    align-items: center;
    width: 25%;
}
.skills{
    display: flex;
    justify-content: space-around;
}
.design{
    width: 80%;
    margin: 10px auto;
}
.items-3{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.img-design img{
    width: 90%;
    border-radius: 20px;
}
.video-sec{
    display: flex;
    width: 100%;
    align-items: center;background-color: rgb(245, 110, 61);
    margin-top: 40px;
}
.text-vid{
    background-color: rgb(245, 110, 61);
    color: aliceblue;
    width: 30%;
    padding-left: 20%;
    font-size: x-large;
    font-weight: 600;
}
.vid-vid{
    width: 50%;
    height: 100%;
    padding-bottom: 0px;
    background-image: url("../images/video-bg.png");
    background-size:cover;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}
.vid-vid i{
    height: 150px;
    width: 150px;
    border: 5px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 145px;
}
.subs{ 
    width: 40%;
    margin: 100px auto;
    text-align: center;
    background-color: rgb(246, 239, 233);
    padding: 30px;
    border-radius: 60px;
}
.subs h2{
    font-size: 23px;
}
.subs p{
    font-size: 13px;
    color: rgba(0, 0, 0, 0.544);
}
input{
    width: 190px;
    padding: 2%;
}
input[type="email"]{
border: 3px solid rgba(0, 0, 0, 0.374);
border-radius: 10px 0 0 10px;
border-right: 0px;
}
input[type="submit"]{
    border: 3px solid rgba(40, 168, 119, 0.961);
    border-radius: 0px 5px 5px 0;
    border-left: 0px;
    background-color: rgba(40, 168, 119, 0.961);
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
}
.footer{
    background-color: rgb(246, 239, 233);
    display: flex;
    justify-content: space-around;
    padding: 5%;
    margin: 2%;
    border-radius: 20px;
}
ul{
    list-style: none;
    line-height: 50px;
    color: rgba(0, 0, 0, 0.539);
}
ul li h4{
    color: black;
    letter-spacing: 2px;
}

@media (max-width: 300px) {
    .nav {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(243, 242, 243);
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
    .skills{
        flex-direction: column;
    }
    .video-sec{
        flex-direction: column;
    }
    .text-vid {
        background-color: rgb(245, 110, 61);
        color: aliceblue;
        font-size: large;
        font-weight: 600;
        padding: 5%;
    }
    .vid-vid {
        width: 100%;
        background-image: url(https://media.istockphoto.com/photos/the-suns-up-and-so-is-my-mood-picture-id911999972?k=20&m=911999972&s=612x612&w=0&h=ZVhYdeCxX6ItAdv0qDU5MxscL3YBYzxlpybMz9w93R4=);
        height: 400px;
      
    }

    .subs{
        width: 90%;
    }
    .container .big-text {
        font-size: 13px;
        line-height: 17px;
    }
    
    .container .small-text {
    font-size: 8px;
    line-height: 8px;
    }
    .footer{
        flex-direction: column;
    }
    .items-3{
        flex-direction: column;
    }
}
@media (max-width: 600px) {
    .nav {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(243, 242, 243);
        /* flex-direction: column; */
    }
    .card{
        width: 100%;
    }
    .skills{
        flex-direction: column;
    }
    .video-sec{
        flex-direction: column;
    }
    .text-vid {
        background-color: rgb(245, 110, 61);
        color: aliceblue;
        font-size: large;
        font-weight: 600;
        padding: 5%;
    }
    .vid-vid {
        width: 100%;
        background-image: url(https://media.istockphoto.com/photos/the-suns-up-and-so-is-my-mood-picture-id911999972?k=20&m=911999972&s=612x612&w=0&h=ZVhYdeCxX6ItAdv0qDU5MxscL3YBYzxlpybMz9w93R4=);
        height: 400px;
      
    }

    .subs{
        width: 90%;
    }
    .container .big-text {
        font-size: 13px;
        line-height: 17px;
    }
    
    .container .small-text {
    font-size: 8px;
    line-height: 8px;
    }
    .footer{
        /* flex-direction: column; */
    }
    .items-3{
        /* flex-direction: column; */
    }
   

}
@media (max-width: 900px) {
    .nav {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(243, 242, 243);
        /* flex-direction: column; */
    }
    .card{
        width: 70%;
        margin: 5px auto;
    }
    .skills{
        flex-direction: column;
    }
    .video-sec{
        flex-direction: column;
    }
    .text-vid {
        background-color: rgb(245, 110, 61);
        color: aliceblue;
        font-size: large;
        font-weight: 600;
        padding: 5%;
    }
    .vid-vid {
        width: 100%;
        background-image: url(https://media.istockphoto.com/photos/the-suns-up-and-so-is-my-mood-picture-id911999972?k=20&m=911999972&s=612x612&w=0&h=ZVhYdeCxX6ItAdv0qDU5MxscL3YBYzxlpybMz9w93R4=);
        height: 400px;
      
    }

    .subs{
        width: 75%;
    }
    .container .big-text {
        font-size: 30px;
        line-height: 30px;
    }
    
    .container .small-text {
    font-size: 16px;
    line-height: 16px;
    }
    .items-3{
        flex-direction: row;
    }
}
@media (max-width: 1200px) {
    .nav {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(243, 242, 243);
        /* flex-direction: column; */
    }
    .card{
        width: 70%;
        margin: 5px auto;
    }
    .skills{
        flex-direction: column;
    }
    .video-sec{
        flex-direction: column;
    }
    .text-vid {
        background-color: rgb(245, 110, 61);
        color: aliceblue;
        font-size: large;
        font-weight: 600;
        padding: 5%;
    }
    .vid-vid {
        width: 100%;
        background-image: url(https://media.istockphoto.com/photos/the-suns-up-and-so-is-my-mood-picture-id911999972?k=20&m=911999972&s=612x612&w=0&h=ZVhYdeCxX6ItAdv0qDU5MxscL3YBYzxlpybMz9w93R4=);
        height: 400px;
      
    }

    .subs{
        width: 45%;
    }
    .container .big-text {
        font-size: 45px;
        line-height: 45px;
    }
    
    .container .small-text {
    font-size: 20px;
    line-height: 20px;
    }
    .items-3{
        flex-direction: row;
    }
}
@media (max-width: 1500px) {
    .nav {
        position: fixed;
        top: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(243, 242, 243);
        /* flex-direction: column; */
    }
    .card{
        width: 70%;
        margin: 5px auto;
    }
    .video-sec{
        flex-direction: column;
    }
    .text-vid {
        background-color: rgb(245, 110, 61);
        color: aliceblue;
        font-size: large;
        font-weight: 600;
        padding: 5%;
    }
    .vid-vid {
        width: 100%;
        background-image: url(https://media.istockphoto.com/photos/the-suns-up-and-so-is-my-mood-picture-id911999972?k=20&m=911999972&s=612x612&w=0&h=ZVhYdeCxX6ItAdv0qDU5MxscL3YBYzxlpybMz9w93R4=);
        height: 400px;
      
    }

    .subs{
        width: 40%;
    }
    .container .big-text {
        font-size: 45px;
        line-height: 45px;
    }
    
    .container .small-text {
    font-size: 20px;
    line-height: 20px;
    }
    .items-3{
        flex-direction: row;
    }
}